#head{
    position: absolute;
    background-color: plum;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 5vh;
}
#foot{
    background-color: steelblue;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9vh;
}
#body{
    background-color: powderblue;
    font-family: 'Mitr', sans-serif;
}
#bigbut{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -201px;
    margin-top: -204px;
}
#cookietext{
    font-size: 4vh;
    position:fixed;
    margin-top: -.09vh;
    top: 0;
    left: 50%;
    margin-left: -20px;
}
#cookiename{
    margin-top: -.4vh;
    text-align: center;
    font-size: 4vh;
}
#resolution{
    display: none;
    position: absolute;
    bottom: 0;
}
.menubut{
    overflow: hidden;
    text-align: center;
    width: 15%;
    height: 100%; 
    background: burlywood;
}
.menutext{
    margin-top:2.5vh;
    color: black;
    font-size: 3vh;
    font-weight: 999;
}