*{
    font-family: 'Roboto Mono', monospace !important
}
#head{
    z-index: 998;
    position: absolute;
    background-color: #E54861;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 5vh;
}
#foot{
    background-color: #F2A379;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9vh;
}
#body{
    background-color: #EFD5B7;}
#bigbut{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -201px;
    margin-top: -204px;
}
#cookietext{
    z-index: 999;
    font-size: 4vh;
    position:fixed;
    margin-top: -.09vh;
    top: 0;
    left: 50%;
    margin-left: -20px;
}
#resolution{
    display: none;
    position: absolute;
    bottom: 0;
}
.menubut{
    margin-left: 1vw;
    overflow: hidden;
    text-align: center;
    width: 20%;
    height: 100%; 
    background: #E54861;
    float: inline-start;
}
.menutext{
    margin-top:2.5vh;
    color: black;
    font-size: 3vh;
    font-weight: 800;
}
#buildingshop{
    z-index: 100;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    background-color: #E54861;
    display: none;
}
#upgradeshop{
    z-index: 100;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    background-color: #E54861;
    display: none;
}
#shopright{
    background-color: #EFD5B7;
    position: absolute;
    height: 100%;
    width: 59%;
    right: 0;
}
#shopleft{
    background-color: #EFD5B7;
    position: absolute;
    height: 100%;
    width: 39%;
    left: 0;
}
