/* .class is multiple / #id is only one */

@media screen and (max-width:1023) and (min-height:767) { /* mobile design*/
    
}

@media screen and (min-width:1024) and (min-height:768) {/* desktop design */
    
}



*{
    font-family: 'Roboto Mono', monospace !important
}
#body{
    overflow: hidden;
    height: 100vw;
    width: 100vw;
    background-color: #E54861  ;
    color: #e7f2f8;
    font-family: 'Pangolin', cursive;
    color: #26252C;
}
.blob {
    background-color: #EFD5B7;
    position: absolute;
    overflow: hidden;
    color: #26252C;
    border-radius: 18px;
}
#clickergame{
    height: 50vh;
    left: 78vw;
    width: 12vw;
    font-size: 101%;
    text-align: center;
    margin-top: -3vh;
}

#greatings{
    margin-top: -3vh;
    margin-left: 10.5vw;
    height: 85vh;
    width: 65vw;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#greatings::-webkit-scrollbar {
    display: none;
  }
.updateText{
    padding-left: 1vw;
    padding-top: 1vh;
}
.updatetitle{
    font-size: 10vh;
    padding-left: 1vw;
}
#second {
    position: absolute;
    color: #26252C;
    left: 5vw;
    bottom: 0;
    height: 93vh;
    width: 90vw;
    background-color: #F2A379;
    font-family: 'Pangolin', cursive;
    overflow: hidden;
    border-radius: 15px;
}
#titletext{
    margin-top: -1vh;
    font-weight: bolder;
    margin-left: 4vw;
    font-size: 6vh;
}
#footer {
    background-color: #26252C;
    color: #E54861;
    position:absolute;
    bottom: 0;
    left: 0;
    height: 3vh;
    width: 100vw;
    overflow: hidden;

}
.footertext{
    position: fixed;
    margin-top: -.5vh;
    left: 88vw;
    font-size: 3.5vh;
    font-weight: bolder;
}
#contact{
    left: 1vw;
}
.menu {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #26252c;
    display: none;
    font-size: 10vw;
    overflow: hidden;
}
.navtext {
    position: absolute;
    text-decoration: none;
    color: white;
    padding-left:25vw;
}
#contactinfo{
    z-index: 500;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #26252c;
    font-size: 50%;
    display: none;
}
#infobox{
    margin-top: 25vh;
    height: 50vh;
    background-color: #E54861;
    text-align: center;
}
#infotext{
    padding-top: 20vh;
    font-size: 5vw;
}
.startbutton{
    max-width: 18px;
    margin-top: .5vh;
    margin-right: 1vw;
    float: right;
}
.draggable {
    padding: 0.5em;
}
#desktop{
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: #26252C;
}
.program{
    position: absolute;
    background-color: azure;
    width: 550px;
    height: 450px;
}
.closebut{
    padding-top: 1vh;
    max-width: 2vw;
    max-height: 2vh;
    float: right;
}
.minibut{
    max-width: 2vw;
    max-height: 2vh;
    padding-top: 1vh;
    margin-right: 1vw;
    float: right;
}
.fullscreenbut{
    max-width: 2vw;
    max-height: 2vh;
    padding-top: 1vh;
    margin-right: 1vw;
    float: right;
}
.titlebar{
    position: relative;
    height: 4vh;
    width: 100%;
    background-color: goldenrod;
}
.iconcontainer{
    position: absolute;
    max-width: 20vw;
    max-height: 30vh;
}
.icontext{
    position: relative;
    margin-top: -1vh;
}
.deskicon{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding-bottom: 1.5vh;
}
#login{
    background-color: honeydew;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 300px;
}
#loginpic{
    display: block;
    max-height: 130px;
    max-width: 130px;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.logintext{
    z-index: 2;
    display: block;
    margin-top: -2vh;
    margin-left: auto;
    margin-right: auto;
}
.longininfo{
    color: black;
    font-weight: 600;
    text-align: center;
}
#loginbutton{
    float: right;
    margin-top: -3.5vh;
    margin-right: 2vw;
}
#taskbar{
    background-color: #4043ff;
    font-family: 'Pangolin', cursive;
    position:absolute;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100vw;
    overflow: hidden;
}
#taskbarmenu{
    height: 30px;
    width: 30px;
    padding-left: 0.5vw;
    padding-top: 0.5vh;
}
#loadcheck{
    z-index: 100; 
    background-color: #26252C; 
    position: absolute; 
    width: 100%; 
    height: 100%;
    text-align: center;
}
#loadtext{
    
    font-weight: bold;
    font-size: 18vh;
}